// Here you can add other styles

.ag-theme-balham {
    .ag-row:not(.ag-row-first) {
        border-width: 0;
    }
    font-size: 14px;
}

.icon-hover-hightlight {
    :hover {
        color: rgb(52, 140, 240);
    }
}

button {
    margin: 0 2px;
}